@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #9098a6;
  font-family: Aui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fullcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
